@{
    ViewBag.Title = "Home Page";
}


    <div class="col-md-5">
        <h1>
            Vendo 5.0
        </h1>
        <p class="lead">The Future of Vending Machines</p>

        <p class="text-justify">
            Vendo 5.0 is among the first digitally integrated vending machines of the 21st century. It's so great, that we skipped the first four versions and
            went straight to 5. With Vendo 5.0, you have the ability to access our machines through your smartphone or P.C. Create an account with us and explore
            the Vendo lifestyle. You'll have access to each the machines in your area and the ability to control what the machine grabs for you. Whether it's candy,
            chips or soda, Vendo 5.0 can satisfy your nourishment. So, sign up today and live life the Vendo way!
        </p>
    </div>
	
    <img src="~/img/Vendo.png" class="center-block" />
    <div class="row">
        <div class="col-md-10 col-md-offset-1">  
        </div>
    </div>
</div>

